:root {
  font-size: 25px;
  --main-color: red;
  --main-bg-color: maroon;
  font-family: 'Oxygen Mono', monospace;
  font-weight: 1000;
}

body {
  font-size: 25px;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  background-image: url("AlchemylabBackground.png");
}

script {

}

html {
  font-size: 25px;
}

p {
  color: var(--main-color);
}

/*
button {
  height: 25px;
  width: 50px;
  color: white;
}
*/

.one {
  height: 25px;
  width: 50px;
}

.two {
  height: 50px;
  width: 50px;
}
